$grid: 1rem;
$title-color: white;
$font-color: #282e32;
$link-color: #006bba;
$link-color-visited: #004999;
$nav-color: white;
$nav-background-color: #3d4347;
$nav-background-color-mobile: #5d6367;
$nav-background-color-hover: #282e32;
$section-even-background-color: #51585b;
$section-even-color: white;
$section-odd-background-color: #e8eded;
$section-odd-color: #282e32;

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  line-height: #{$grid*1.75}; //1.8em;
  transition: all 0.125s ease;
}

//Do not show "image not found" warning,
//if an image is not yet loaded.
img {
  text-indent: -9999px;
}

li {
  list-style: none;
}

a {
  &:link {
    font-size: #{$grid*1};
    text-decoration: none;
    color: $link-color;
  }

  &:visited {
      text-decoration: none;
      color: $link-color-visited;
  }

  //When hovering over links, make the enclosed
  //images brighten up a bit.
  &:hover, &:active {
    text-decoration: underline;

    > img {
      -webkit-filter: contrast(110%) brightness(110%) saturate(110%);
      transform: translate(0, #{$grid*-0.125});
    }
  }
}

//Header and navigation
body {
//  background-color: $nav-background-color;

  header {
    height: #{$grid*4};
//background-color: $nav-background-color;
    @media (max-width: 900px) {
      height: #{$grid*8};
    }

    hgroup {
      float:left;

      h1 {
        line-height: #{$grid*4};
        color: $title-color;
        padding-left: #{$grid*1};

        span {
          font-size:#{$grid*1.25};
          color: inherit;
        }
      }
    }

    .nav {
      height:100%;
      background-color: $nav-background-color;

      ul {
        float: right;

        @media (max-width: 900px) {
          float: left;
          clear: both;
          width: 100%;
          background-color: $nav-background-color-mobile; //gray;
          padding-left: #{$grid*0.75};
        }

        li {
          display: inline-block;

          a {
            display: block;
            color: $nav-color; //white;
            font-size: #{$grid*1.125};
            text-decoration: none;
            line-height: #{$grid*3.5};
            padding: #{$grid*0.5} #{$grid*1} 0 #{$grid*1};

            @media (max-width: 900px) {
              font-size: #{$grid*1};
              padding: 0 #{$grid*0.5} 0 #{$grid*0.5};
              line-height: #{$grid*4};
            }
            @media (max-width: 540px) {
              padding: 0 #{$grid*0.25} 0 #{$grid*0.25};
            }

            &:hover {
              background-color: $nav-background-color-hover;
            }
          }
        }
      }
    }
  }
}

// General section styles
section {
  text-align:left;
  background: $section-odd-background-color;
  color: $section-odd-color;
  padding: #{$grid*2} #{$grid*1} #{$grid*4} #{$grid*1};

  > header {
    > h1 {
      line-height: #{$grid*4};
    }
  }

  &:nth-child(odd){
    background: $section-even-background-color;
    color: $section-even-color;
  }
}

// Specific section styles
[id="masthead"] {
  padding: #{$grid*8} #{$grid*1} #{$grid*8} #{$grid*1};
  text-align: center;
  color: white;
  background-image: url("/img/masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //image-rendering: pixelated;

  h1 {
    font-size: #{$grid*3};
    line-height: #{$grid*4};
  }

  p {
    font-size: #{$grid*1.25};
    line-height: #{$grid*2};
    padding: 0 #{$grid*1};
  }

  a {
    display: inline-block;
    margin-top: #{$grid*1};
    line-height: #{$grid*2};
    padding: 0 #{$grid*1};
    background-color: $link-color;
    color: white;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;

    &:hover {
      background-color: lighten($link-color, 10%);
    }
  }
}

[id="works"] {
  div {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;

    &:after {
      content: "";
      flex: auto;
      -webkit-flex: auto;
    }

    a {
      display: block;
      line-height: 0;
      flex-grow: 0;
      -webkit-flex-grow: 0;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
      padding: #{$grid*0.25} #{$grid*0.25} #{$grid*1} #{$grid*0.25};

      flex-basis: calc(100% / 8);
      -webkit-flex-basis: calc(100% / 8);
      @media (max-width: 1440px) {
        flex-basis: calc(100% / 7);
        -webkit-flex-basis: calc(100% / 7);
      }
      @media (max-width: 1260px) {
        flex-basis: calc(100% / 6);
        -webkit-flex-basis: calc(100% / 6);
      }
      @media (max-width: 1080px) {
        flex-basis: calc(100% / 5);
        -webkit-flex-basis: calc(100% / 5);
      }
      @media (max-width: 900px) {
        flex-basis: calc(100% / 4);
        -webkit-flex-basis: calc(100% / 4);
      }
      @media (max-width: 720px) {
        flex-basis: calc(100% / 3);
        -webkit-flex-basis: calc(100% / 3);
      }
      @media (max-width: 540px) {
        flex-basis: calc(100% / 2);
        -webkit-flex-basis: calc(100% / 2);
      }
      @media (max-width: 360px) {
        flex-basis: calc(100% / 1);
        -webkit-flex-basis: calc(100% / 1);
      }

      &:hover {
        text-decoration: none;
      }

      img {
        width: 100%;
      }

      span {
        display: block;
        color: darken($section-even-color, 25%);
        font-size: #{$grid*0.75};
        line-height: #{$grid*1};
        padding-top: #{$grid*0.25};
      }
    }
  }
}

[id="exhibitions"] {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    @media (max-width: 720px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
}

[id="about"] {
  img {
    width: #{$grid*38};
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

[id="contact"] {
  div {
    div {
      margin-top: #{$grid*1};

      &:after {
        /* Or @extend clearfix */
        content: "";
        display: table;
        clear: both;
      }

      /*div {
        float: left;
        width: calc(100% / 3);
        padding: #{$grid*1} 0;
        @media (max-width: 900px) {
          width: calc(100% / 2);
        }
        @media (max-width: 540px) {
          width: 100%;
        }

        * {
          line-height: #{$grid*1.5};
          font-size: #{$grid*1};
        }
        p:first-child {
          line-height: #{$grid*2};
          font-size: #{$grid*1.5};
        }
      }*/
    }
  }
}
