---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <style type="text/css">{% capture include_to_scssify %}{% include styles.scss %}{% endcapture %}{{ include_to_scssify | scssify }}</style>
    {{ site.data['ruxit'] }}
  </head>
<body>
  <header>
    <hgroup>
      <h1 itemprop="creator" itemprop="headline">Christa Mayrhofer <span>Malerei</span></h1>
    </hgroup>

    <nav class="nav">
      <ul>
        <li><a href="#works">Werke</a></li>
        <li><a href="#exhibitions">Ausstellungen</a></li>
        <li><a href="#about">Über mich</a></li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
    </nav>
  </header>

  <section id="masthead">
    <h1>Christa Mayrhofer</h1>
    <p>Ölmalerei auf Leinwand. Aus Österreich.</p>
    <a href="mailto:christamayrhofer17@gmail.com" target="_blank" itemprop="email">Kontaktieren sie mich</a>
  </section>

  <section id="works" itemscope itemtype="http://schema.org/Painting">
    <header>
      <h1 itemprop="workExample" itemscope itemtype="http://schema.org/Painting">Werke</h1>
    </header>

    <div>
      {% for post in site.data.instagram.posts %}
        <a href="{{ post.uri }}" target="_blank">
          <img
            src="{{ post.thumbnails[240].uri }}"
            alt="{{ post.caption }}"
            title="{{ post.caption }}"
            srcset="{% for t in post.thumbnails %}{% if t[1].width > 1 %}{{t[1].uri}} {{t[1].width}}w, {% endif %}{% endfor %}"
            sizes="(max-width: 360px) calc(100vw / 1), (max-width: 540px) calc(100vw / 2), (max-width: 720px) calc(100vw / 3), (max-width: 900px) calc(100vw / 4), (max-width: 1080px) calc(100vw / 5), (max-width: 1260px) calc(100vw / 6), (max-width: 1440px) calc(100vw / 7), calc(100vw / 8)"
            style="background-color:{{ post.primary_color }}"
          />
          <span>{{ post.caption }} | Christa Mayrhofer 2014</span>
        </a>
      {% endfor %}
    </div>
  </section>

  <section id="exhibitions">
    <header>
      <h1>Ausstellungen</h1>
    </header>
    <ul>
      <li>1994 Loos-Haus, Wien</li>
      <li>1994 Int. Kunstpreisausstellung in der Drucktechnik Holzschnitt, Ludwigsburg (DTL)</li>
      <li>1996 Landeskulturzentrum Ursulinenhof, Linz</li>
      <li>1999 Deutsche internationale Grafiktriennale, Frechen</li>
      <li>2000 Galerie Ariadne, Wien</li>
      <li>2000 Galerie Brunnhofer, Linz</li>
      <li>2000 Kupferstichkabinett der Akademie der bildenden Künste, Wien</li>
      <li>2000 “Land-Schaffen”, Wanderausstellung der NÖ-Art</li>
      <li>2001 Galerie Schafschetzy, Graz</li>
      <li>2001 Biennale dell Arte Contemporanea, Florenz
      (Lorenzo al Magnifico Preis in der Sparte Druckgrafik)</li>
      <li>2002 Galerie Hrobsky, Wien</li>
      <li>2002 Galerie Rothe, Frankfurt</li>
      <li>2002 Galerie Hrobsky, Wien</li>
      <li>2003 Kunst 03 Wien, Galerie Brunnhofer</li>
      <li>2003 Art Vienna, int. Kunstmesse im technischen Museum, Wien</li>
      <li>2004 Galerie 422, Gmunden</li>
      <li>2004 Galerie für Gegenwartskunst, Elfi Bohrer, Zürich</li>
      <li>2005 Kunst Zürich, Galerie für Gegenwartskunst, Elfi Bohrer</li>
      <li>2006 Landesmuseum vor Ort, Galerie Brunnhofer</li>
      <li>2007 Kulturzentrum CART, Pregarten</li>
      <li>2008 Art Karlsruhe, Galerie Hrobsky, Wien</li>
      <li>2009 Stadtmuseum Kitzbühel</li>
      <li>2009 Art Vienna, Galerie Brunnhofer</li>
      <li>2010 Österreichisches Papiermachermuseum Steyrermühl</li>
      <li>2012 Art Bodensee, Galerie Brunnhofer</li>
      <li>2013 Art Austria im Leopold Museum, Wien, Galerie Hrobsky</li>
      <li>2014 Galerie Diana Achtzig, Berlin</li>
      <li>2016 Geh' aus mein Herz ...</li>
      <li>2016 ... Pregarten</li>
    </ul>
  </section>


  <section id="about">
    <header>
      <h1>Über mich</h1>
    </header>
    <p>
      <img src="/img/about.jpg" alt="Christa Mayrhofer"/>
    </p>
    <ul>
      <li>Geboren in Haslach an der Mühl / Oberösterreich</li>
      <li>Studium an der Akademie der bildenden Künste, Wien</li>
      <li>(Meisterklasse Gunter Damisch)</li>
      <li>1996 Diplomabschluss</li>
    </ul>
  </section>


  <section id="contact">
    <header>
      <h1>Kontakt</h1>
    </header>
    <div itemscope itemtype="http://schema.org/LocalBusiness">
  		<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      		<span itemprop="streetAddress">Marktplatz 21</span>,
      		<span itemprop="postalCode">4170</span>
      		<span itemprop="addressLocality">Haslach an der Mühl</span>,
      		<span itemprop="addressCountry">AUSTRIA</span>
          <span><a href="https://goo.gl/maps/dyu1iVC1xfJ2" target="_blank">(Google Maps)</a></span>
    	</p>
      <p>
    	   <a href="mailto:christamayrhofer17@gmail.com" target="_blank" itemprop="email">christamayrhofer17[at]gmail.com</a>
      </p>
    </div>
  </section>

  <footer></footer>

  <style type="text/css">{% capture include_to_scssify %}{% include fonts.scss %}{% endcapture %}{{ include_to_scssify | scssify }}</style>

  <script type="text/javascript">
    {{ site.data['js'] }}
  </script>
</body>
</html>
